<div class="container d-flex align-items-center vh-100 justify-content-center flex-column">
    <h4 class="text-danger">Example of ngrx Redux in angular </h4>
   <div class="container d-flex align-items-center  justify-content-center flex-column">
       
       <h2 class="text-center m-4">Value: {{count$ | async}}</h2>
       <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-primary m-4" (click)="increment()">Increment</button>
            <button type="button" class="btn btn-primary m-4" (click)="decrement()">Decrement</button>
            <button type="button" class="btn btn-primary m-4" (click)="reset()">Reset</button>
        </div>
       </div>

   </div>
</div>